{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit question</h3>
      </div>
      <div class="panel-body">

      	{{ form_start(edit_form) }}


     	{{ form_end(edit_form) }}

      </div><br>
        <a class="btn btn-large btn-primary btn-block" href="{{ path('admin_question', {'event_id':entity.event.id}) }}">
            Back to the list
        </a>
    </div>
{% endblock %}
