{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Question edit</h1>



    {{ form_start(edit_form) }}


    {{ form_end(edit_form) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_question', {'event_id':entity.event.id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
