{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
  <div class="table-responsive">
      <table class="table table-condensed">

          <tr>
              <th>Place</th>
              <th>Question</th>
              <th>Answer</th>


          </tr>
          {% for q in questions['questions'] %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{ q['question']['name'] }}</td>
              <td>{{ q['answer']['average'] }}</td>

          </tr>
          {% endfor %}

      </table>
  </div>
{% endblock %}
