<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LiveVoting app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
    <script src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/livevoting/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
