<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.css">



    <title></title>

</head>
<body>
<div class="container">
    <div class="table-responsive">
        <table class="table table-condensed">

            <tr>
                <td class="active">Winners</td>
                <td class="warning">Presentations</td>
                <td class="success">Country</td>


            </tr>
            {% for presentation in presentations %}
            <tr>
                <td>1</td>
                <td>{{ presentation.getPresenterName }}</td>
                <td>albania</td>

            </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>
