{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
  <div class="table-responsive">
      <table class="table table-condensed">

          <tr>
              <th>Place</th>
              <th>Presentation</th>
              <th>Presenter</th>
              <th>Score</th>


          </tr>
          {% for p in presentations['presentations'] %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{ p['presentation']['name'] }}</td>
              <td>{{ p['presentation']['entity'].getPresenterName~' '~p['presentation']['entity'].getPresenterSurname }}</td>
              <td>{{ p['score']['average'] }}</td>

          </tr>
          {% endfor %}

      </table>
  </div>
{% endblock %}
