{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
        <div class="container">
            <div class="form-signin">

                <form action="{{ path('admin_login_check') }}" method="post">
                    <label for="email"><h2>Enter credentials:</h2></label>
                    <input class="form-control" type="text" id="username" name="_username" placeholder="Username" required>
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Password" required>


                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button class="btn btn-primary btn-lg btn-block" type="submit">login</button>
                </form>

                {% if error %}
                    <div class="alert alert-danger">
                        Wrong entry. Please enter valid email.
                    </div>
                {% endif %}

            </div>
        </div>
{% endblock %}
