{% extends 'LiveVotingBundle::base.html.twig' %}

{% block title %}Error|LiveVoting{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger checkmail" role="alert">
                <div class="text">
                    <i class="fa fa-exclamation-triangle fa-2x"></i>You need to activate your link to be able to access this site. Check your email.
                </div>
            </div>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <button type="button" onclick="history.back(-1)" class="btn"><i class="fa fa-chevron-left"></i> Go back</button>
            <a href="{{ path('root') }}"><button type="button" class="btn"><i class="fa fa-home"></i> Dashboard</button></a>
        </div>
    </div>
{% endblock %}
