{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}PrizePool|LiveVoting{% endblock %}

{% block mainHeading %}Prize Draw{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 margin-top">
			<form action="{{ path('admin_prize_draw_generate') }}" method="POST">
				<table class="records_list table">
						<thead>
							<tr>
								<th>Event name</th>
								<th>Include in draw</th>
							</tr>
						</thead>
						<tbody class="prize-draw-table">
						{% for event in events %}
						<tr>
							<td>{{ event.getName }}</td>
							<td>
								<div class="checkbox">
									<label class="small">
										<input type="checkbox" name="check_list[]" value="{{ event.getId }}"> Add event in a drawing pool
									</label>
								</div>
							</td>
						</tr>
						{% endfor %}
						</tbody>
				</table>
				<button type="submit" class="btn">Generate draw pool</button>
			</form>
		</div>
	</div>

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('admin_event')}}"><button type="button" class="btn">Back</button></a>
		</div>
	</div>
{% endblock %}
