{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block mainHeading %}<h1>Edit registration</h1>{% endblock %}

{% block body %}
	{{ form(edit_form) }}
	{{ form(delete_form) }}

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('registration')}}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back</button></a>
		</div>
	</div>
{% endblock %}
