{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}New|Registration|LiveVoting{% endblock %}

{% block mainHeading %}<h1>Create registration</h1>{% endblock %}

{% block body %}
    {{ form(form) }}

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('registration')}}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back</button></a>
		</div>
	</div>
</ul>
{% endblock %}
