{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Edit|Presentation|LiveVoting{% endblock %}
{% block mainHeading %}Edit presentation{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 col-sm-4 margin-top">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('admin_presentation', {'event_id':entity.getEventId} ) }}"><button type="button" class="btn">Back</button></a>
        </div>
    </div>

{% endblock %}
