{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    {% for flashMessage in app.Session.flashbag.get('message') %}
      <h3>{{flashMessage}}</h3>
    {% endfor %}

    <div class="row pres-list">
        {% for entity in entities %}
        <div class="col-xs-12">
            <div class="wrapper">
                <div class="pull-left">
                    <h2>{{ entity[0].presentationName }}</h2>
                    <span>Hall Elephant <i class="fa fa-at"></i> 12:30 - 14:00 | Date: 21. July</span>
                </div>
                <div class="pull-right">
                    <a class="btn-event" href="{{ path('user_presentation_edit', { 'id': entity[0].id }) }}"><br><i class="fa fa-pencil"></i><br>Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('user_landing') }}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back to events</button></a>
        </div>
    </div>
{% endblock %}
