<!doctype html>
<html>
<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
	<head>
		<meta charset="utf-8" />
		<title>Demo</title>
	</head>

	<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>

	<body>
		Ovo je index2. Test. {{ session_id }}

	</body>
</html>