{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block mainHeading %}<h1>Edit user</h1>{% endblock %}

{% block body %}
    {{ form(edit_form, {'attr':{'class':'form-horizontal'}}) }}

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('admin_user')}}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back</button></a>
		</div>
	</div>
{% endblock %}
