{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Import|Users|LiveVoting{% endblock %}

{% block mainHeading %}Import CSV{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xs-12 col-sm-4 margin-top">
    		{{ form(form) }}
    	</div>
	</div>

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('admin_user')}}"><button type="button" class="btn">Back</button></a>
		</div>
	</div>
{% endblock %}
