{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}New|Users|LiveVoting{% endblock %}

{% block mainHeading %}<h1>New user</h1>{% endblock %}

{% block body -%}
    {{ form(form) }}

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('admin_user')}}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i> Back</button></a>
		</div>
	</div>
{% endblock %}