{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Edit your info</h1>
        </div>
    </div>

    {% for flashMessage in app.Session.flashbag.get('message') %}
    <h3>{{flashMessage}}</h3>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 form-container">
          {{ form(form, {'attr':{'class':'form-horizontal'}}) }}
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('user_landing') }}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back to events</button></a>
        </div>
    </div>
{% endblock %}
