{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
    {% for flashMessage in app.Session.flashbag.get('message') %}
    <h3>{{flashMessage}}</h3>
    {% endfor %}

    <div class="row">
        <div id="form-useredit" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 form-container">
          {{ form(form, {}) }}
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('user_landing') }}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back to events</button></a>
        </div>
    </div>
{% endblock %}
