/**
 * Admin global settings
 */
#admin-container {
	padding-top: 0;
	min-height: 100%;
	position: relative;
}

/**
 * Admin header
 */
#admin-header {
	height: 4em;
	min-height: 4em;
	border-bottom: 0.0625em solid #dddddd;
}

#admin-header img {
	margin: 1em 0;
	height: 2em;
}


/**
 * Admin navigation
 */
#admin-navigation a {
	line-height: 2em;
}


/**
 * Admin login
 */
.form-signin input.form-control {
	margin: 1.1428em 0px;
	padding: 0.1428em 1em;
	font-size: 0.875em;
	line-height: 1.8571em;
	background-color: #ffffff;
	color: #404041;
	border-width: 0.0714em;
	border-radius: 5px;
}

div.alert.alert-danger {
	padding: 1em;
	margin: 0;
	border-radius: 5px;
}