/**
 * Events
 */
div.slave-event div.wrapper, div.master-event div.wrapper {
	height: 8em;
	margin-bottom: 2em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

div.master-event div.wrapper {
	margin-top: 2em;
	background-image: url('../img/assets/master-event.png');
}

div.master-event h2 {
	margin-left: 0.6428em;
}

div.master-event span.time {
	display: block;
	margin: 0 0 1.4545em 0.8181em;
	font-size: 1.375em;
	line-height: 1.4545em;
}

div.slave-event div.pull-left, div.slave-event div.pulll-right, div.master-event div.pull-left, div.master-event div.pulll-right {
	height: 100%;
}

div.slave-event div.pull-left img, div.slave-event div.pull-left h2 {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
}

div.slave-event h2 {
	margin-left: 0.5714em;
	line-height: 4.5714em;
}

div.slave-event div.pulll-right {
	background-color: black;
}

a.btn-event {
	display: inline-block;
	width: 8em;
	height: 8em;
	margin: 0;
	padding: 0;
	line-height: 2em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
}

a.btn-event i {
	font-size: 2em;
}


/**
 * Presentations
 */
.pres table {
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.pres .pres-outer {
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.pres .pres-fixed {
	width: 8em;
	height: 8em;
}

.pres .pres-img {
	width: 100%;
}

.pres .pres-head {
	vertical-align: top;
}

.pres h2 {
	margin: 0 0.8571em;
	line-height: 1.7142em;
}

.pres .pres-info {
	margin-top: 1em;
	height: 2em;
	line-height: 2em;
}

.pres .pres-info span {
	display: inline-block;
	margin-left: 1.5em;
}

.pres .wrapper {
	width: 100%;
	padding: 1.4375em 0;
	border: 0.0625em solid #dddddd;
	background-color: #404041;
}

.pres p.pres-desc-text {
	margin: 1.5em 0 1.5em 9.5em;
}

.vote-question-container {
	padding-right: 0;
}

.pres .question-multiple label, .pres .pres-opinion h3 {
	display: block;
	margin: 0 0 0.8em 0;
	padding: 0;
	color: #404041;
	font-weight: 600;
	line-height: 1.6em;
	font-size: 1.25em;
}

.pres .pres-opinion {
	padding-left: 0;
	border-left: 1px solid #dddddd;
}

.pres .pres-opinion > div {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	background: url('../img/assets/bg-pattern.png');
	padding: 0.9375em 1em 1em 1em;
	border-top: 0.0625em solid #dddddd;
}

.pres .pres-opinion a {
	display: block;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	background-color: #0199C6;
}

.pres .pres-opinion a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #015f7b;
}

.comments-section {
	border: 0.0625em solid #dddddd;
}

.comments-section .nav-tabs {
	margin: 0;
	padding: 1em 1em 0.9375em 1em;
	border-bottom: 0.0625em solid #dddddd;
	background-color: #404041;
}

.comments-section .nav-tabs a {
	margin-right: 1em;
	padding: 0.5em 1em;
	border-radius: 0;
	border: none;
	font-size: 1em;
	line-height: 1em;
	color: #ffffff;
	background-color: #0199C6;
}

.comments-section .nav-tabs a:hover {
	color: #ffffff;
	background-color: #015f7b;
	text-decoration: none;
}

.comments-section .nav-tabs li.active a, .comments-section .nav-tabs li.active a:hover {
	border-radius: 0;
	border: none;
	color: #ffffff;
	background-color: #015f7b;
}

.comments-section .tab-content {
	background: url('../img/assets/bg-pattern.png');
}

.live-voting-comments li.media > a {
	margin: 1em;
}

.live-voting-comments li.media .media-body {
	margin: 1em 1em 0 0;
	padding: 1em;
	border: 0.0625em solid #dddddd;
	border-radius: 0;
	background-color: #ffffff;
}

.live-voting-comments li.media .media-body ul {
	margin: 0;
	padding: 0;
}

.live-voting-comments li.media .media-body ul > li {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	color: #58585a;
}

.live-voting-comments li.media .media-body .media-comment {
	margin: 0;
	padding: 1em 0 0 0;
	color: #404041;
}

/**
 * Tables
 */
table.table {
	margin: 0;
}

table.table tr td {
	height: 1.5em;
	padding: 0 0.5em;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
}

table.table tr th {
	border-bottom: none;
}


/**
 * Loader
 */
div#loader span {
	display: block;
	margin: 2em;
	font-size: 4em;
	text-align: center;
	color: #404041;
}


/**
 * Questions
 */
div.slave-event.questions {
	margin-top: 2em;
}

.question-single-item {
	margin: 2em 0;
}

.question-single-item h2 {
	min-height: 5.3333em;
}

.question-heading .wrapper {
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.question-heading i {
	float: left;
	font-size: 2.6666em;
	margin-right: 0.25em;
	vertical-align: middle;
	line-height: 1em;
}

.question-single, .question-multiple {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	background: url('../img/assets/bg-pattern.png');
	padding: 0.9375em 1em 1em 1em;
	border-top: 0.0625em solid #dddddd;
}

.question-multiple input {
	width: 20%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.36);
}

.question-single button {
	width: 50%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.36);
}

.question-multiple input.q1 { background-color: rgba(22, 120, 185, 0.9); }
.question-multiple input.q2 { background-color: rgba(22, 120, 185, 0.8); }
.question-multiple input.q3 { background-color: rgba(65,154,127, 0.75); }
.question-multiple input.q4 { background-color: rgba(108, 187, 68, 0.8); }
.question-multiple input.q5 { background-color: rgba(108, 187, 68, 0.9); }

.question-single button.yes {
	background-color: rgba(108, 187, 68, 0.9);
}

.question-single button.no {
	background-color: rgba(22, 120, 185, 0.9);
}

.question-multiple input.q1:hover,
.question-multiple input.q2:hover,
.question-multiple input.q3:hover,
.question-multiple input.q4:hover,
.question-multiple input.q5:hover,
.question-single button.yes:hover,
.question-single button.no:hover {
	background-color: rgba(64, 64, 65, 0.9);
}


/**
 * Secondary footer
 */
div.secondary-footer {
	margin-top: 2em;
	margin-bottom: 2em;
}

div.secondary-footer a {
	margin: 0 0 0 1.1428em;
}

div.secondary-footer a i {
	font-size: inherit;
	line-height: inherit;
	margin-right: 0.5em;
}

div.secondary-footer > div > a:first-child {
	margin-left: 0;
}


/**
 * Forms
 */
.form-container form {
	margin-top: 2em;
	padding: 1em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.form-container form > #form > div > div > div  {
	margin: 0 0 1em 0;
	padding: 0;
}

.form-container form > #form > div > label {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.form-container form > #form > div:first-child, .form-container form > #form > div:nth-child(2) {
	position: relative;
	width: 50%;
	float: left;
}

.form-container form > #form > div:first-child {
	padding-right: 15px;
	border-right: 1px solid #dddddd;
	z-index: 55;
}

.form-container form > #form > div:nth-child(2) {
	padding-left: 15px;
	z-index: 55;
}

.form-container form > #form > div:nth-child(3) {
	position: relative;
	width: 50%;
	margin: 0 auto;
	z-index: 50;
}

.form-container form button {
	margin-top: 1.5em;
}

.form-container form label {
	display: block;
	margin-bottom: 0;
}

.form-container input {
	width: 100%;
	height: 2em;
	padding-left: 0.5em;
	line-height: 2em;
}

.form-container select {
	width: 50%;
	height: 2em;
}

.form-container textarea {
	width: 100%;
	height: 5em;
	padding: 0 0.5em;
	line-height: 1.5em;
}


/**
 * Ultra-specific forms
 */
#form_registrationInfo_departureTime {
	color: #404041;
	margin-left: 0.5em;
}

#form_registrationInfo_departureTime_date:before {
	content: "Date: ";
}

#form_registrationInfo_departureTime_time:before {
	content: "Time: ";
}

#form_registrationInfo_departureTime_date select {
	margin-right: 3%;
	width: 22%;
}

#form_registrationInfo_departureTime_time select {
	color: #404041;
	width: 25%;
}

#form-userpres div.ext {
	margin-bottom: 1em;
}

#form-userpres p {
	width: 100%;
	max-width: none;
	font-weight: 600;
	margin-bottom: 1em;
}

#form-userpres p > input {
	font-weight: 300;
}