/**
 * Events
 */
div.slave-event div.wrapper, div.master-event div.wrapper {
	height: 8em;
	margin-bottom: 2em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

div.master-event div.wrapper {
	margin-top: 2em;
	background-image: url('../img/assets/master-event.png');
}

div.master-event h2 {
	margin-left: 0.6428em;
}

div.master-event span.time {
	display: block;
	margin: 0 0 1.4545em 0.8181em;
	font-size: 1.375em;
	line-height: 1.4545em;
}

div.slave-event div.pull-left, div.slave-event div.pulll-right, div.master-event div.pull-left, div.master-event div.pulll-right {
	height: 100%;
}

div.slave-event div.pull-left img, div.slave-event div.pull-left h2 {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
}

div.slave-event div.pull-left h2 {
	line-height: 4.5714em;
	margin-left: 0.8571em;
}

div.slave-event div.pulll-right {
	background-color: black;
}

a.btn-event {
	display: inline-block;
	width: 8em;
	height: 8em;
	margin: 0;
	padding: 0;
	line-height: 2em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
}

a.btn-event i {
	font-size: 2em;
}


/**
 * Presentations
 */
.pres table {
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.pres .pres-outer {
	background-color: #ffffff;
}

.pres .pres-fixed {
	width: 8em;
	height: 8em;
}

.pres .pres-img {
	width: 100%;
}

.pres .pres-head {
	vertical-align: top;
}

.pres h2 {
	margin: 0 0.8571em;
	line-height: 1.4285em;
}

.pres .pres-info {
	margin-top: 1em;
	height: 2em;
	line-height: 2em;
}

.pres .pres-info span {
	display: inline-block;
	margin-left: 1.5em;
}

.pres .wrapper {
	width: 100%;
	background-color: #404041;
	padding: 1.5em 0;
}

.pres p.pres-desc-text {
	margin: 1.5em 0 1.5em 9.5em;
}

.vote-form {
	margin: 0;
	/*padding: 1.5em 0 1.5em 9.5em;*/
	padding: 1.5em 0;
	background-color: #ffffff;
}
.vote-form .wrapper {
	margin: 0 auto;
}

.vote-form span {
	display: inline-block;
	vertical-align: middle;
	margin: 1.5em 0;
	height: 3em;
	width: 3em;
	text-align: center;
}

.vote-form span i {
	font-size: 1.25em;
	line-height: 2.4em;
	color: #404041;
}

.vote-form input {
	width: 3em;
	margin: 1.5em 0;
	padding: 1em;
	line-height: 1em;
}

.pres-list {
	margin-top: 2em;	
}

.pres-list .wrapper {
	height: 6em;
	margin-bottom: 2em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.pres-list h2 {
	max-width: 700px;
	height: 2.6666em;
}

.pres-list a.btn-event {
	height: 6em;
	width: 6em;
	line-height: 1.5em;
}

.pres-list span {
	display: block;
	height: 2em;
	margin-left: 1em;
}

/**
 * Tables
 */
table.table {
	margin: 0;
}

table.table tr td {
	height: 1.5em;
	padding: 0 0.5em;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
}

table.table tr th {
	border-bottom: none;
}


/**
 * Loader
 */
div#loader span {
	display: block;
	margin: 2em;
	font-size: 4em;
	text-align: center;
	color: #404041;
}


/**
 * Questions
 */
.question-list-single {

}



/**
 * Secondary footer
 */
div.secondary-footer {
	margin-top: 2em;
	margin-bottom: 2em;
}

div.secondary-footer a {
	margin: 0 0 0 1.1428em;
}

div.secondary-footer a i {
	font-size: inherit;
	line-height: inherit;
	margin-right: 0.5em;
}

div.secondary-footer > div > a:first-child {
	margin-left: 0;
}


/**
 * Forms
 */
.form-container form {
	margin-top: 2em;
	padding: 1em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.form-container form > #form > div > div > div  {
	margin: 0 0 1em 0;
	padding: 0;
}

.form-container form > #form > div > label {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.form-container form > #form > div:first-child, .form-container form > #form > div:nth-child(2) {
	position: relative;
	width: 50%;
	float: left;
}

.form-container form > #form > div:first-child {
	padding-right: 15px;
	border-right: 1px solid #dddddd;
	z-index: 55;
}

.form-container form > #form > div:nth-child(2) {
	padding-left: 15px;
	z-index: 55;
}

.form-container form > #form > div:nth-child(3) {
	position: relative;
	width: 50%;
	margin: 0 auto;
	z-index: 50;
}

.form-container form button {
	margin-top: 1.5em;
}

.form-container form label {
	display: block;
	margin-bottom: 0;
}

.form-container input {
	width: 100%;
	height: 2em;
	padding-left: 0.5em;
	line-height: 2em;
}

.form-container select {
	width: 50%;
	height: 2em;
}

.form-container textarea {
	width: 100%;
	height: 5em;
	padding: 0 0.5em;
	line-height: 1.5em;
}


/**
 * Ultra-specific forms
 */
#form_registrationInfo_departureTime {
	color: #404041;
	margin-left: 0.5em;
}

#form_registrationInfo_departureTime_date:before {
	content: "Date: ";
}

#form_registrationInfo_departureTime_time:before {
	content: "Time: ";
}

#form_registrationInfo_departureTime_date select {
	margin-right: 3%;
	width: 22%;
}

#form_registrationInfo_departureTime_time select {
	color: #404041;
	width: 25%;
}

#form-userpres div.ext {
	margin-bottom: 1em;
}

#form-userpres p {
	width: 100%;
	max-width: none;
	font-weight: 600;
	margin-bottom: 1em;
}

#form-userpres p > input {
	font-weight: 300;
}