/**
 * Events
 */
div#events ul {
	margin: 0;
	padding: 0;
}

div#events ul li {
	margin: 0 0 1.4375em 0;
	padding: 0;
	border: none;
	border-bottom: 0.0625em solid #dddddd;
	border-radius: 0;
}

div#events div.event-header {
	padding: 0;
}

div#events div.event-header img {
	display: inline-block;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
	height: 4em;
	width: 4em;
}

div#events div.event-header h2 {
	display: inline-block;
	vertical-align: bottom;
	padding-left: 0.5714em;
}

div#events .btn-event {
	display: inline-block;
	width: 100%;
	margin: 1em 0 0 0;
	padding: 1em;
	background-color: blue;
}

div#events .event-action {
	margin: 0;
	padding: 0;
}