/**
 * Box container
 */
.box {
	margin-top: 2em;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	background-color: #ffffff;
}

.box * {
	color: #404041;
}

.box.light {
	background-color: #404041;
}

.box.light * {
	color: #ffffff;
}

.box .image {
	text-align: center;	
}

.box .image > img {
	height: 100%;
	width: 100%;
}

.box .image.garbage > img {
	opacity: 0.25;
}

.box .text-wrapper {
	padding: 0 1em;
}

.box .heading, .box .label, .box .label label {
	margin: 0;
	padding: 0;
}

.box .xs-description {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #404041;
}

.box.light .xs-description {
	background-color: #ffffff;
}

.box .xs-description span {
	display: block;
	margin: 1em;
	color: #ffffff;
}

.box .xs-description span i {
	color: #ffffff;
	display: inline-block;
}

.box.light .xs-description span, .box.light .xs-description span i {
	color: #404041;
}

.box .actions a {
	display: inline-block;
	width: 33.3333%;
}

.box .actions a i {
	display: block;
	font-size: 2em;
}

.box .actions a span {
	display: block;
	text-transform: uppercase;
}

.box .full-description {
	padding: 0.9375em 1em 1em 1em;
	background: url('../img/assets/bg-pattern.png');
	border-top: 0.0625em solid #dddddd;
}

.box .full-description p {
	margin: 0;
}

@media (max-width: 767px) {
	.box .actions {
		border-top: 1px solid #dddddd;
		padding: 1em 0;
	}
}


/**
 * Flash messages
 */
.flash-messages {
	margin-top: 2em;
	padding: 1em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.flash-messages h3 i {
	padding-right: 0.5em;
	color: #0199c6;
}

/**
 * Presentations
 */
.pres table {
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.pres .pres-outer {
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.pres .pres-fixed {
	width: 8em;
	height: 8em;
}

.pres .pres-img {
	width: 100%;
}

.pres .pres-head {
	vertical-align: top;
}

.pres h2 {
	margin: 0 0.8571em;
	line-height: 1.7142em;
}

.pres .pres-info {
	margin-top: 1em;
	height: 2em;
	line-height: 2em;
}

.pres .pres-info span {
	display: inline-block;
	margin-left: 1.5em;
}

.pres .wrapper {
	width: 100%;
	padding: 1.4375em 0;
	border: 0.0625em solid #dddddd;
	background-color: #404041;
}

.pres p.pres-desc-text {
	margin: 1.5em 0 1.5em 9.5em;
}

.vote-question-container {
	padding-right: 0;
}

.pres .question-multiple label, .pres .pres-opinion h3 {
	display: block;
	margin: 0 0 0.8em 0;
	padding: 0;
	color: #404041;
	font-weight: 600;
	line-height: 1.6em;
	font-size: 1.25em;
}

.pres .pres-opinion {
	padding-left: 0;
	border-left: 1px solid #dddddd;
}

.pres .pres-opinion > div {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	background: url('../img/assets/bg-pattern.png');
	padding: 0.9375em 1em 1em 1em;
	border-top: 0.0625em solid #dddddd;
}

.pres .pres-opinion a {
	display: block;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	background-color: #0199C6;
}

.pres .pres-opinion a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #015f7b;
}

.comments-section {
	border: 0.0625em solid #dddddd;
}

.comments-section .nav-tabs {
	margin: 0;
	padding: 1em 0 0 1em;
	border-bottom: 0.0625em solid #dddddd;
	background-color: #fff;
}

.comments-section .nav-tabs li {
	margin-bottom: 0;
}

.comments-section .nav-tabs a {
	margin-right: 0;
	padding: 0.5em 1em;
	border-radius: 0;
	border: none;
	font-size: 1em;
	line-height: 1em;
	color: #0199C6;
	background-color: #fff;
}

.comments-section .nav-tabs a:hover {
	color: #015f7b;
	background-color: #ecf0f5;
	text-decoration: none;
}

.comments-section .nav-tabs li.active a, .comments-section .nav-tabs li.active a:hover {
	border-radius: 0;
	border: none;
	color: #404041;
	background-color: #fff;
}

.comments-section .tab-content {
	background: url('../img/assets/bg-pattern.png');
}

.live-voting-comments li.media > a {
	margin: 1em;
}

.live-voting-comments li.media .media-body {
	margin: 1em 1em 0 0;
	padding: 1em;
	border: 0.0625em solid #dddddd;
	border-radius: 0;
	background-color: #ffffff;
}

.live-voting-comments li.media .media-body ul {
	margin: 0;
	padding: 0;
}

.live-voting-comments li.media .media-body ul > li {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	color: #58585a;
}

.live-voting-comments li.media .media-body .media-comment {
	margin: 0;
	padding: 1em 0 0 0;
	color: #404041;
}

/**
 * Tables
 */
table.table {
	margin: 0;
}

table.table tr td {
	height: 1.5em;
	padding: 0 0.5em;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
}

table.table tr th {
	border-bottom: none;
}


/**
 * Loader
 */
div#loader span {
	display: block;
	margin: 2em;
	font-size: 4em;
	text-align: center;
	color: #404041;
}


/**
 * Questions
 */
.question-single-item {
	margin: 2em 0 0 0;
}

.question-single-item:nth-child(odd) {
	padding-right: 1em;
}

.question-single-item:nth-child(even) {
	padding-left: 1em;
}

.question-single-item h2 {
	min-height: 5.3333em;
}

.question-heading .wrapper {
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.question-heading i {
	float: left;
	margin-right: 0.25em;
	vertical-align: middle;
}

.question-single, .question-multiple {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	background: url('../img/assets/bg-pattern.png');
	padding: 0.9375em 1em 1em 1em;
	border-top: 0.0625em solid #dddddd;
}

.question-multiple input {
	width: 20%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.36);
}

.question-single button {
	width: 50%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.36);
}

.question-multiple input.q1 { background-color: rgba(22, 120, 185, 0.9); }
.question-multiple input.q2 { background-color: rgba(22, 120, 185, 0.8); }
.question-multiple input.q3 { background-color: rgba(65,154,127, 0.75); }
.question-multiple input.q4 { background-color: rgba(108, 187, 68, 0.8); }
.question-multiple input.q5 { background-color: rgba(108, 187, 68, 0.9); }

.question-single button.yes {
	background-color: rgba(108, 187, 68, 0.9);
}

.question-single button.no {
	background-color: rgba(22, 120, 185, 0.9);
}

.question-multiple input.q1:hover,
.question-multiple input.q2:hover,
.question-multiple input.q3:hover,
.question-multiple input.q4:hover,
.question-multiple input.q5:hover,
.question-single button.yes:hover,
.question-single button.no:hover {
	background-color: rgba(64, 64, 65, 0.9);
}

.question-multiple input.active, .question-single button.active,
.question-multiple input.active:hover, .question-single button.active:hover,
.question-multiple input.active:focus, .question-single button.active:focus {
	background-color: rgba(126, 126, 129, 0.9);
	box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	cursor: default;
}

@media (max-width: 767px) {
	.question-single-item {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}


/**
 * Live results
 */
.live-results {
	margin-top: 2em;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	background: url('../img/assets/bg-pattern.png');
}

/**
 * Forms
 */
.form-container form {
	margin-top: 2em;
	padding: 1em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.form-container form > #form > div > div > div  {
	margin: 0 0 1em 0;
	padding: 0;
}

.form-container form > #form > div > label {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.form-container form > #form > div:first-child, .form-container form > #form > div:nth-child(2) {
	position: relative;
	width: 50%;
	float: left;
}

.form-container form > #form > div:first-child {
	padding-right: 15px;
	border-right: 1px solid #dddddd;
	z-index: 55;
}

.form-container form > #form > div:nth-child(2) {
	padding-left: 15px;
	z-index: 55;
}

.form-container form > #form > div:nth-child(3) {
	position: relative;
	width: 50%;
	margin: 0 auto;
	z-index: 50;
}

.form-container form button {
	margin-top: 1.5em;
}

.form-container form label {
	display: block;
	margin-bottom: 0;
}

.form-container input {
	width: 100%;
	height: 2em;
	padding-left: 0.5em;
	line-height: 2em;
}

.form-container select {
	width: 50%;
	height: 2em;
}

.form-container textarea {
	width: 100%;
	height: 5em;
	padding: 0 0.5em;
	line-height: 1.5em;
}

@media (max-width: 767px) {
	.form-container form > #form > div:first-child, .form-container form > #form > div:nth-child(2) {
		width: 100%;
	}

	.form-container form > #form > div:first-child {
		border-right: none;
		border-bottom: 1px solid #dddddd;
		padding-right: 0;
		margin-bottom: 1em;
	}

	.form-container form > #form > div:nth-child(2) {
		padding-left: 0;
	}

	.form-container form > #form > div:nth-child(3) {
		width: 100%;
	}
}

/**
 * Ultra-specific forms
 */
#form_registrationInfo_departureTime, #form_registrationInfo_arrivalTime {
	color: #404041;
	margin-left: 0.5em;
}

#form_registrationInfo_departureTime_date select, #form_registrationInfo_arrivalTime_date select {
	width: 25%;
}

#form_registrationInfo_departureTime_time select, #form_registrationInfo_arrivalTime_time select {
	color: #404041;
	width: 20%;
}

#form-userpres div.ext {
	margin-bottom: 1em;
}

#form-userpres p {
	width: 100%;
	max-width: none;
	font-weight: 600;
	margin-bottom: 1em;
}

#form-userpres p > input {
	font-weight: 300;
}