/**
 * Box container
 */
.box {
	margin-top: 2em;
	background-color: #ffffff;
}

.box * { color: #404041; }

.box.light { background-color: #404041; }
.box.light * { color: #ffffff; }

.box .garbage > img { opacity: 0.25; }

.box .icon i {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 4em;
	line-height: 1.5em;
}

.box .text-wrapper {
	padding: 0 1em;
}

.box .xs-description {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #404041;
}

.box.light .xs-description {
	background-color: #ffffff;
}

.box .xs-description span {
	display: block;
	margin: 1em;
	color: #ffffff;
}

.box .xs-description span i {
	color: #ffffff;
	display: inline-block;
}

.box.light .xs-description span, .box.light .xs-description span i {
	color: #404041;
}

.box .actions a {
	display: inline-block;
	width: 33.3333%;
}

.box .actions a i {
	display: block;
	font-size: 2em;
}

.box .actions a span {
	display: block;
	text-transform: uppercase;
}

.box .full-description {
	padding: 0.9375em 1em 1em 1em;
	border-top: 0.0625em solid #dddddd;
}

.box .full-description p {
	margin: 0;
}

@media (max-width: 767px) {
	.box .actions {
		padding: 1em 0;
	}

	.box .actions {
		background: url('../img/assets/bg-pattern.png');
		border-top: 1px solid #dddddd;
	}

	.box .actions.master {
		border-top: none;
		background: none;
		background-color: rgba(64, 64, 65, 0.25);
	}

	.box .actions.single-action { text-align: center; }
}


/**
 * Flash messages
 */
.flash-messages {
	margin-top: 2em;
	padding: 1em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.flash-messages h3 i {
	padding-right: 0.5em;
	color: #1678b9;
}


/**
 * CTA
 */
.cta {
	padding: 0.9375em 1em 1em 1em;
	border-top: 0.0625em solid #dddddd;
}

.cta > label {
	display: block;
}

.cta .cta-action {
	display: block;
	margin: 0;
	padding: 0 0.7em;
	font-weight: 600;
	font-size: 1.25em;
	line-height: 2.4em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	border: none;
	background-color: rgba(22, 120, 185, 0.9);
}

@media (max-width: 991px) {
	.cta .cta-action { font-size: 1em; }
}

.cta .cta-action:hover, .cta .cta-action:focus, .cta .cta-action:active {
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(64, 64, 65, 0.9);
}

.cta-multiple .cta-action { display: inline-block; width: 20%; }
.cta-duo .cta-action { display: inline-block; width: 50%; }

.cta-multiple .cta-action, .cta-duo .cta-action {
	background-color: #ffffff;
	padding: 0 0.65em;
	border: 0.05em solid #dddddd;
	border-right: none;
	vertical-align: middle;
	color: #404041 !important;
}

.cta-multiple .cta-action:last-child, .cta-duo .cta-action:last-child {
	border-right: 0.05em solid #dddddd;
}

.cta-duo .yes.cta-action:hover, .cta-duo .no.cta-action:hover,
.cta-duo .yes.cta-action:focus, .cta-duo .no.cta-action:focus,
.cta-multiple .q1.cta-action:hover, .cta-multiple .q2.cta-action:hover, .cta-multiple .q3.cta-action:hover, .cta-multiple .q4.cta-action:hover, .cta-multiple .q5.cta-action:hover,
.cta-multiple .q1.cta-action:focus, .cta-multiple .q2.cta-action:focus, .cta-multiple .q3.cta-action:focus, .cta-multiple .q4.cta-action:focus, .cta-multiple .q5.cta-action:focus {
	background-color: transparent;
}

.cta-multiple .active.cta-action, .cta-duo .active.cta-action,
.cta-multiple .active.cta-action:hover, .cta-duo .active.cta-action:hover,
.cta-multiple .active.cta-action:focus, .cta-duo .active.cta-action:focus {
	color: #ffffff !important;
	background-color: rgba(64, 64, 65, 0.75);
	border-color: transparent;
	cursor: default;
}

.cta-multiple .active.cta-action > i, .cta-duo .active.cta-action > i,
.cta-multiple .active.cta-action:hover > i, .cta-duo .active.cta-action:hover > i,
.cta-multiple .active.cta-action:focus > i, .cta-duo .active.cta-action:focus > i {
	color: #ffffff !important;
}

.cta.cta-vote label {
	.line-height: 2em;
}

.cta.cta-disabled .cta-action, .cta.cta-disabled .cta-action:hover,
.cta.cta-disabled .cta-action > i, .cta.cta-disabled .cta-action:hover > i,
.cta.cta-disabled .cta-action.active > i, .cta.cta-disabled .cta-action.active > i:hover {
	color: #dddddd !important;
	cursor: default;
}

@media (min-width: 768px) {
	.cta.cta-vote {
		padding: 1em 1em 1em 0.9375em;
		border-top: none;
		border-left: 0.0625em solid #dddddd;
	}
}


/**
 * Dashboard
 */
@media (min-width: 768px) {
	#liveschedule {
		padding: 0 30px;
	}

	#liveschedule > div:nth-child(1) {
		margin-left: -30px;
		margin-right: 15px;
	}

	#liveschedule > div:nth-child(2) {
		margin-left: 15px;
		margin-right: 15px;
	}

	#liveschedule > div:nth-child(3) {
		margin-left: 15px;
		margin-right: -30px;
	}

	#liveschedule div.global-brake {
		box-sizing: content-box;
		padding-right: 60px;
	}
}


/**
 * Presentations
 */
.pres-desc-toggle {
	display: block;
}

.pres-desc-container {
	border-top: 1px solid #dddddd;
	background-color: #404041;
}


/**
 * Comments navigation
 */
.comments-section {
	border: 0.0625em solid #dddddd;
}

.comments-section .nav.nav-tabs {
	margin: 0;
	padding: 2em 1em 0 1em;
	border-bottom: 0.0625em solid #dddddd;
}

.comments-section .nav.nav-tabs li {
	/*margin-bottom: 0;*/
}

.comments-section .nav.nav-tabs > li > a {
	margin: 0;
	padding: 0.5em 1em;
	background-color: transparent;
}

.comments-section .nav.nav-tabs > li > a:hover {
	background-color: transparent;
}

.comments-section > .nav.nav-tabs > .active > a, .nav.nav-tabs.cta-discussion-type > li.active > a {
	margin-bottom: -0.0625em !important;
	border-bottom: none;
	color: #404041;
	background-color: #ffffff;
}

.comments-section > .nav.nav-tabs > .active > a:hover, .nav.nav-tabs.cta-discussion-type > li.active > a:hover {
	background-color: #ffffff;
}


/**
 * Comments format
 */
.media-list {
	background-color: #ffffff;
}

.media-list.live-voting-comments {
	margin-bottom: 0;
}

.live-voting-comments .media {
	margin: 0 1em;
	padding: 1em 0;
	border-bottom: 0.0625em solid #dddddd;
}

.live-voting-comments .media:last-child {
	border-bottom: none;
}

.live-voting-comments .media-user-image {
	color: #404041;
}

.live-voting-comments .media-comment-container {
	padding-left: 1em;
}

.live-voting-comments .media-comment-container h4 {
	display: inline-block;
	font-size: 1em;
}

.live-voting-comments .media-comment-container label {
	color: #505051;
}

/**
 * Add comment/picture form
 */
.nav.nav-tabs.cta-discussion-type {
	border-top: 1px solid #dddddd;
}

.cta-discussion-form form.commentPresentation, .cta-discussion-form form.imageUpload {
	background-color: #ffffff;
	padding: 1em;
}

#netgen_livevotingbundle_presentationcomment > div, #netgen_livevotingbundle_presentationimage > div {
	display: inline-block;
	vertical-align: middle;
}

#netgen_livevotingbundle_presentationcomment > div:nth-child(1) { width: 80%; }
#netgen_livevotingbundle_presentationcomment > div:nth-child(2) { width: 20%; }

#netgen_livevotingbundle_presentationimage > div:nth-child(1) { width: 40%; }
#netgen_livevotingbundle_presentationimage > div:nth-child(2) { width: 40%; }
#netgen_livevotingbundle_presentationimage > div:nth-child(3) { width: 20%; }

#netgen_livevotingbundle_presentationcomment label, #netgen_livevotingbundle_presentationimage label { display: none; }

#netgen_livevotingbundle_presentationcomment_content, #netgen_livevotingbundle_presentationimage_description {
	width: 99%;
	height: 4.5em;
	margin: 0px;
	padding: 0.6875em;
	border: 0.0625em solid #dddddd;
}

#netgen_livevotingbundle_presentationcomment_content:focus, #netgen_livevotingbundle_presentationcomment_content:active,
#netgen_livevotingbundle_presentationimage_description:focus, #netgen_livevotingbundle_presentationimage_description:active {
	border-color: #bbbbbb;
}

#netgen_livevotingbundle_presentationcomment_submit, #netgen_livevotingbundle_presentationimage_submit {
	width: 100%;
	height: 3em;
	border: none;
	font-size: 1.5em;
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: #1678b9;
}

#netgen_livevotingbundle_presentationcomment_submit:hover,
#netgen_livevotingbundle_presentationimage_submit:hover {
	background-color: #404041;
}

#netgen_livevotingbundle_presentationimage > div:nth-child(2) label {
	display: block;
	height: 2em;
	padding-left: 0.5em;
	font-weight: 600;
}

#netgen_livevotingbundle_presentationimage_file {
	height: 2.5em;
	padding-left: 0.5em;
}

@media (max-width: 767px) {
	#netgen_livevotingbundle_presentationcomment > div:nth-child(1) { width: 100%; }
	#netgen_livevotingbundle_presentationcomment > div:nth-child(2) { width: 100%; }

	#netgen_livevotingbundle_presentationimage > div:nth-child(1) { width: 100%; }
	#netgen_livevotingbundle_presentationimage > div:nth-child(2) { width: 100%; }
	#netgen_livevotingbundle_presentationimage > div:nth-child(3) { width: 100%; }

	#netgen_livevotingbundle_presentationcomment_content, #netgen_livevotingbundle_presentationimage_description {
		width: 100%;
		margin-bottom: 1em;
	}

	#netgen_livevotingbundle_presentationcomment_submit, #netgen_livevotingbundle_presentationimage_submit {
		height: 2em;
		margin: 0;
		font-size: 1em;
	}

	#netgen_livevotingbundle_presentationimage > div:nth-child(2) label {
		padding-left: 0;
	}

	#netgen_livevotingbundle_presentationimage_file {
		margin-bottom: 1em;
		padding-left: 0;
	}
}


/**
 * Tables
 */
table.table {
	margin: 0;
}

table.table tr td {
	height: 1.5em;
	padding: 0 0.5em;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
}

table.table tr th {
	border-bottom: none;
}


/**
 * Loader
 */
div#loader span {
	display: block;
	margin: 2em;
	font-size: 4em;
	text-align: center;
	color: #404041;
}


/**
 * Questions
 */
.question-single-item { margin-top: 2em; }
.question-single-item:nth-child(even) { padding-right: 1em; }
.question-single-item:nth-child(odd) { padding-left: 1em; }
.question-single-item h2 { min-height: 4em; }

.question-heading .wrapper { background-color: #ffffff; }

.question-heading i {
	font-size: 2em;
	color: #404041;
	margin-right: 0.25em;
	float: left;
}

@media (max-width: 767px) {
	.question-single-item {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}


/**
 * Twitter
 */
.twitter { padding-left: 5px; }

@media (min-width: 768px) {
	.twitter { border: none; border-left: 1px solid #dddddd; }
}

@media (max-width: 767px) {
	.twitter { border: none; border-top: 1px solid #dddddd; margin-top: 1em; }
}


/**
 * Forms
 */
.form-container form {
	margin-top: 2em;
	padding: 1em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.form-container form > #form > div > div > div  {
	margin: 0 0 1em 0;
	padding: 0;
}

.form-container form > #form > div > label {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5em;
	font-weight: 600;
}

.form-container form > #form > div:first-child, .form-container form > #form > div:nth-child(2) {
	position: relative;
	width: 50%;
	float: left;
}

.form-container form > #form > div:first-child {
	padding-right: 15px;
	border-right: 1px solid #dddddd;
	z-index: 55;
}

.form-container form > #form > div:nth-child(2) {
	padding-left: 15px;
	z-index: 55;
}

.form-container form > #form > div:nth-child(3) {
	position: relative;
	width: 50%;
	margin: 0 auto;
	z-index: 50;
}

.form-container form button {
	margin-top: 1.5em;
}

.form-container form label {
	display: block;
	margin-bottom: 0;
}

.form-container input {
	width: 100%;
	height: 2em;
	padding-left: 0.5em;
	line-height: 2em;
}

.form-container select {
	width: 50%;
	height: 2em;
}

.form-container textarea {
	width: 100%;
	height: 5em;
	padding: 0 0.5em;
	line-height: 1.5em;
}

@media (max-width: 767px) {
	.form-container form > #form > div:first-child, .form-container form > #form > div:nth-child(2) {
		width: 100%;
	}

	.form-container form > #form > div:first-child {
		border-right: none;
		border-bottom: 1px solid #dddddd;
		padding-right: 0;
		margin-bottom: 1em;
	}

	.form-container form > #form > div:nth-child(2) {
		padding-left: 0;
	}

	.form-container form > #form > div:nth-child(3) {
		width: 100%;
	}
}

/**
 * Ultra-specific forms
 */
#form_registrationInfo_departureTime, #form_registrationInfo_arrivalTime {
	color: #404041;
	margin-left: 0.5em;
}

#form_registrationInfo_departureTime_date select, #form_registrationInfo_arrivalTime_date select {
	width: 25%;
}

#form_registrationInfo_departureTime_time select, #form_registrationInfo_arrivalTime_time select {
	color: #404041;
	width: 20%;
}

#form-userpres div.ext {
	margin-bottom: 1em;
}

#form-userpres p {
	width: 100%;
	max-width: none;
	font-weight: 600;
	margin-bottom: 1em;
}

#form-userpres p > input {
	font-weight: 300;
}