/**
 * Events
 */
div.slave-event div.wrapper {
	height: 8em;
	border: 1px solid #ddd;
	margin-bottom: 2em;
}

div.slave-event div.pull-left, div.slave-event div.pulll-right {
	height: 100%;
}

div.slave-event div.pull-left img, div.slave-event div.pull-left h2 {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
}

div.slave-event div.pull-left h2 {
	line-height: 4.5714em;
	margin-left: 0.8571em;
}

div.slave-event a.btn-event {
	display: inline-block;
	width: 8em;
	height: 8em;
	margin: 0;
	padding: 0;
	line-height: 8em;
	text-align: center;
}


/**
 * Loader
 */
div#loader span {
	display: block;
	margin: 2em;
	font-size: 4em;
	text-align: center;
	color: #58595b;
}


/**
 * Secondary footer
 */
div.secondary-footer {
	margin: 2em 0;
}

div.secondary-footer a {
	margin: 0 0 0 1.1428em;
}

div.secondary-footer a i {
	margin-right: 0.5em;
}

div.secondary-footer > div > a:first-child {
	margin-left: 0;
}