/**
 * Events
 */
div.slave-event div.wrapper, div.master-event div.wrapper {
	height: 8em;
	margin-bottom: 2em;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

div.master-event div.wrapper {
	margin-top: 2em;
	background-image: url('../img/assets/master-event.png');
}

div.master-event h2 {
	margin-left: 0.6428em;
}

div.master-event span.time {
	display: block;
	margin: 0 0 1.4545em 0.8181em;
	font-size: 1.375em;
	line-height: 1.4545em;
}

div.slave-event div.pull-left, div.slave-event div.pulll-right, div.master-event div.pull-left, div.master-event div.pulll-right {
	height: 100%;
}

div.slave-event div.pull-left img, div.slave-event div.pull-left h2 {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
}

div.slave-event div.pull-left h2 {
	line-height: 4.5714em;
	margin-left: 0.8571em;
}

div.slave-event div.pulll-right {
	background-color: black;
}

a.btn-event {
	display: inline-block;
	width: 8em;
	height: 8em;
	margin: 0;
	padding: 0;
	line-height: 2em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
}

a.btn-event i {
	font-size: 2em;
}


/**
 * Presentations
 */
.pres table {
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.pres .pres-outer {
	background-color: #ffffff;
}

.pres .pres-fixed {
	width: 8em;
	height: 8em;
}

.pres .pres-img {
	width: 100%;
}

.pres .pres-head {
	vertical-align: top;
}

.pres h2 {
	margin: 0 0.8571em;
	line-height: 1.4285em;
}

.pres .pres-info {
	margin-top: 1em;
	height: 2em;
	line-height: 2em;
}

.pres .pres-info span {
	display: inline-block;
	margin-left: 1.5em;
}

.pres .wrapper {
	width: 100%;
	background-color: #404041;
	padding: 1.5em 0;
}

.pres p.pres-desc-text {
	margin: 1.5em 0 1.5em 9.5em;
}

.vote-form {
	margin: 0;
	padding: 1.5em 0 1.5em 9.5em;
	background-color: #ffffff;
}

.vote-form span {
	display: inline-block;
	vertical-align: middle;
	margin: 1.5em 0;
	height: 3em;
	width: 3em;
	text-align: center;
}

.vote-form span i {
	font-size: 1.25em;
	line-height: 2.4em;
	color: #404041;
}

.vote-form input {
	width: 3em;
	margin: 1.5em 0;
	padding: 1em;
	line-height: 1em;
}

/**
 * Tables
 */
table.table {
	margin: 0;
}

table.table tr td {
	height: 1.5em;
	padding: 0 0.5em;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
}

table.table tr th {
	border-bottom: none;
}


/**
 * Loader
 */
div#loader span {
	display: block;
	margin: 2em;
	font-size: 4em;
	text-align: center;
	color: #404041;
}


/**
 * Secondary footer
 */
div.secondary-footer {
	margin-top: 2em;
	margin-bottom: 2em;
}

div.secondary-footer a {
	margin: 0 0 0 1.1428em;
}

div.secondary-footer a i {
	font-size: inherit;
	line-height: inherit;
	margin-right: 0.5em;
}

div.secondary-footer > div > a:first-child {
	margin-left: 0;
}


/**
 * Forms
 */
.form-container form {
	padding: 1em;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.form-container form > div > div {
	margin: 0 0 1.5em 0;
	padding: 0;
}

.form-container form label {
	display: block;
	margin-bottom: 0;
}

.form-container input {
	width: 100%;
}

.form-container select {
	width: 50%;
	height: 1.5em;
}