/**
 * Fonts & typography
 */
html > body {
	font-family: "ronnia", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

@media (max-width: 991px) {
	html > body {
		font-size: 14px;
	}
}

a {
	font-size: 1em;
	font-weight: 600;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 1.5em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; }

p {
	margin: 0;
	max-width: 465px;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
}

label, .label {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
}

@media (max-width: 991px) {
	h1 { font-size: 1.5714em; }
	h2 { font-size: 1.4285em; }
	.question-single-item h2, h3 { font-size: 1.2857em; }
	.pres .pres-opinion h3, .box .full-description h3 { font-size: 1.1428em; }
	.box .label label { font-size: 1em; }
}

/**
 * Global settings
 */
html, body {
	height: 100%;
	min-height: 100%;
}

html > body {
    color: #206CA8;
    background-color: #ECF0F5;
}

div#global-container {
	padding-top: 4em;
	min-height: 100%;
	position: relative;
}

div#main {
	padding: 0 1em 8em 1em;
}

@media (max-width: 767px) {
	div#main { padding-bottom: 10em; }
}


/**
 * Global classes
 */
.vertical-align { display: flex; align-items: center; -webkit-align-items: center; }
.vertical-align-xs { display: block; }

.box-margin { margin: 1em 0; }
.box-padding { padding: 1em; }

.bg-pattern { background: url('../img/assets/bg-pattern.png'); }
.shadow { box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26); }
.no-shadow { box-shadow: none; text-shadow: none; }

.text-shadow { text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.36); }
.text-strong { font-weight: 600; }
.text-normal { font-weight: 300; }

.big { font-size: 1.25em; line-height: 1.5em; }
.bigger { font-size: 1.5em; line-height: 1.5em; }

.image { width: 80%; margin: 10%; }
.image-full { width: 100%; }
.image-o { border-radius: 100%; }

.alert-danger {
	color: #ffffff;
	background-color: rgba(187, 88, 22, 1);
	border-color: #dddddd;
	text-align: center;
}

.no-comment {
	line-height: 300px;
	text-align: center;
	color: rgba(64, 64, 65, 0.5);
}

@media (min-width: 768px) {
	.vertical-align-xs {
		display: flex;
		align-items: center;
		-webkit-align-items: center;
	}
}

.rotate-45 { transform: rotate(45deg); }
.rotate-90 { transform: rotate(90deg); }
.rotate-135 { transform: rotate(135deg); }
.rotate-180 { transform: rotate(180deg); }

/**
 * Font colors
 */
a, h1, h2, h3, h4, p, td, th,
label, input, select, textarea, span {
	color: #404041;
}

.blue {
	color: #1678b9;
}

p.pres-desc-text {
	color: #ffffff;
}

#form-userpres form > label,
#form-useredit form > #form > div:first-child > label,
#form-useredit form > #form > div:nth-child(2) > label {
	color: #ffffff;
	background-color: #1678b9;
}

#form-userpres form > label {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5em;
	font-weight: 600;
}

/**
 * Buttons
 */
.btn, .form-container form button {
	margin: 1.1428em 0;
	border: 0.0714em solid transparent;
	padding: 0.2142em 1em;
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1.8571em;
	background-color: #1678b9;
	color: #ffffff;
	border: none;
    border-radius: 0;
    text-transform: uppercase;
}

.form-container form button {
	margin: 0;
	width: 100%;
}

.btn:hover, .btn:active, .btn:focus,
.form-container form button:hover, .form-container form button:active, .form-container form button:focus,
#netgen_livevotingbundle_presentationcomment_submit:hover {
	border: none;
	background-color: #115c8d;
	color: #ffffff;
}

.box .actions a:hover, .box .actions a:active, .box .actions a:focus {
	text-decoration: none !important;
}

.box .actions a > span, .box .actions a > i {
	color: #1678b9;
	text-decoration: none;
}

.box .actions a:hover > span {
	color: #115c8d;
	text-decoration: underline;
}

.box .actions a:hover > i {
	color: #115c8d;
	text-decoration: none;
}

/* Box Light */
.box.light .actions a > span, .box.light .actions a > i {
	color: #ffffff;
	text-decoration: none;
}

.box.light .actions a:hover > span {
	color: #ffffff;
	text-decoration: underline;
}

.box.light .actions a:hover > i {
	color: #ffffff;
	text-decoration: none;
}

.pres .pres-opinion a {
	margin: 0;
	padding: 0.7em;
	border: none;
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
}


/**
 * Links
 */
a, a:link, a:visited, a:active {
	color: #1678b9;
}

#main-footer a > span, #main-footer a > span:link, #main-footer a > span:visited, #main-footer a > span:active {
	color: #ffffff;
}

a:link:hover, a:hover, a:focus, a:link:focus {
	color: #115c8d;
	text-decoration: underline;
}

#main-footer a > span:link:hover, #main-footer a > span:hover, #main-footer a > span:focus, #main-footer a > span:link:focus {
	text-decoration: underline;
	color: #1678b9;
}



/**
 * Secondary footer
 */
.secondary-footer {
	margin-top: 1.5em;
}

.secondary-footer i {
	padding-right: 0.5em;
}



/**
 * Checkmail error
 */
.checkmail {
	margin-top: 2em;
}

.checkmail i {
	vertical-align: middle;
	padding-right: 0.25em;
}