/**
 * Fonts & typography
 */
html > body {
	font-family: "ronnia", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	font-size: 1em;
	font-weight: 600;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: 600;
	line-height: 3em;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.75em;
	font-weight: 600;
	line-height: 2.2857em;
}

p {
	max-width: 465px;
	font-weight: 300;
	margin: 0 0 1.5em;
}

.vote-form input {
	font-size: 1em;
	font-weight: 600;
}

.form-container label {
	font-size: 1em;
	line-height: 2em;
}

/**
 * Global settings
 */
html, body {
	height: 100%;
	min-height: 100%;
}

html > body {
    color:#206CA8;
    background-color:#ECF0F5;
}

div#global-container {
	padding-top: 4em;
	min-height: 100%;
	position: relative;
}

div#main {
	padding-bottom: 8em;
}


/**
 * Font colors
 */
a, h1, h2, p, td, th,
.form-container label, .form-container input, .form-container select {
	color: #404041;
}

p.pres-desc-text,
.master-event h2, .master-event span.time {
	color: #ffffff;
}

.form-container form > #form > div:first-child > label {
	color: #ffffff;
	background-color: #6dbc45;
}

.form-container form > #form > div:nth-child(2) > label {
	color: #ffffff;
	background-color: #1678b9
}


/**
 * Buttons
 */
.btn, .form-container form button {
	margin: 1.1428em 0;
	border: 0.0714em solid transparent;
	padding: 0.2142em 1em;
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1.8571em;
	background-color: #0199C6;
	color: #ffffff;
	border: none;
    border-radius: 0;
    text-transform: uppercase;
}

.form-container form button {
	margin: 0;
	width: 100%;
}

.btn:hover, .btn:active, .btn:focus,
.form-container form button:hover, .form-container form button:active, .form-container form button:focus {
	border: none;
	background-color: #015f7b;
	color: #ffffff;
}

.btn-event {
	background-color: transparent;
}

.master-event .btn-event {
	color: #ffffff;
	background-color: rgba(64, 64, 65, 0.5);
}

.master-event .btn-event:hover, .master-event .btn-event:focus, .master-event .btn-event:active {
	color: #ffffff;
	background-color: rgba(64, 64, 65, 1);
}

.vote-form input {
	color: #ffffff;
	background-color: #0199C6;
	border: none;
}

.vote-form input:hover {
	background-color: #015f7b;
}

/**
 * Links
 */
a, a:link, a:visited, a:active {
	color: #0199C6;
}

#main-footer a, #main-footer a:link, #main-footer a:visited, #main-footer a:active {
	color: #ffffff;
}

a:link:hover, a:hover, a:focus, a:link:focus {
	color: #015f7b;
	text-decoration: underline;
}

#main-footer a:link:hover, #main-footer a:hover, #main-footer a:focus, #main-footer a:link:focus {
	text-decoration: underline;
	color: #0199C6;
}


/**
 * Presentations
 */
