/**
 * Fonts & typography
 */
html > body {
	font-family: "ronnia", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

@media (max-width: 991px) {
	html > body {
		font-size: 14px;
	}
}

a {
	font-size: 1em;
	font-weight: 600;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: 600;
	line-height: 1.5em;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.75em;
	font-weight: 600;
	line-height: 1.5em;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.2em;
}

p {
	max-width: 465px;
	font-size: 1em;
	font-weight: 300;
	margin: 0 0 1.5em;
}

.form-container label {
	font-size: 1em;
	line-height: 2em;
}

.question-single-item h2 {
	font-size: 1.5em;
	line-height: 1.3333em;
	margin: 0;
	padding: 1.3333em 0.6666em;
}

.box .label {
	font-size: 1em;
}

.box .label label {
	font-weight: 300;
	font-size: 1.125em;
	line-height: 1.25em;
}

.box .description {
	font-weight: 300;
	font-size: 1em;
	line-height: 1.5em;
}

/**
 * Global settings
 */
html, body {
	height: 100%;
	min-height: 100%;
}

html > body {
    color:#206CA8;
    background-color:#ECF0F5;
}

div#global-container {
	padding-top: 4em;
	min-height: 100%;
	position: relative;
}

div#main {
	padding: 0 1em 8em 1em;
}

.vertical-align {
	display: flex;
	align-items: center;
	-webkit-align-items: center;
}

.vertical-align-xs {
	display: block;
}

@media (min-width: 768px) {
	.vertical-align-xs {
		display: flex;
		align-items: center;
		-webkit-align-items: center;
	}
}

/**
 * Font colors
 */
a, h1, h2, h4, p, td, th,
.form-container label, .form-container input, .form-container select, .form-container textarea,
.pres-list span {
	color: #404041;
}

p.pres-desc-text {
	color: #ffffff;
}

#form-useredit form > #form > div:first-child > label {
	color: #ffffff;
	background-color: #6dbc45;
}

#form-useredit form > #form > div:nth-child(2) > label {
	color: #ffffff;
	background-color: #1678b9;
}

#form-userpres form > label {
	color: #ffffff;
	background-color: #6dbc45;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

/**
 * Buttons
 */
.btn, .form-container form button {
	margin: 1.1428em 0;
	border: 0.0714em solid transparent;
	padding: 0.2142em 1em;
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1.8571em;
	background-color: #0199C6;
	color: #ffffff;
	border: none;
    border-radius: 0;
    text-transform: uppercase;
}

.form-container form button {
	margin: 0;
	width: 100%;
}

.btn:hover, .btn:active, .btn:focus,
.form-container form button:hover, .form-container form button:active, .form-container form button:focus {
	border: none;
	background-color: #015f7b;
	color: #ffffff;
}

.box .actions a:hover {
	text-decoration: none !important;
}

.box .actions a > span, .box .actions a > i {
	color: #0199c6;
	text-decoration: none;
}

.box .actions a:hover > span {
	color: #015f7b;
	text-decoration: underline;
}

.box .actions a:hover > i {
	color: #015f7b;
	text-decoration: none;
}

/* .box.light */
.box.light .actions a > span, .box.light .actions a > i {
	color: #ffffff;
	text-decoration: none;
}

.box.light .actions a:hover > span {
	color: #ffffff;
	text-decoration: underline;
}

.box.light .actions a:hover > i {
	color: #ffffff;
	text-decoration: none;
}

.question-single button, .question-multiple input, .pres .pres-opinion a {
	margin: 0;
	padding: 0.7em;
	border: none;
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
}


/**
 * Links
 */
a, a:link, a:visited, a:active {
	color: #0199C6;
}

#main-footer a, #main-footer a:link, #main-footer a:visited, #main-footer a:active {
	color: #ffffff;
}

a:link:hover, a:hover, a:focus, a:link:focus {
	color: #015f7b;
	text-decoration: underline;
}

#main-footer a:link:hover, #main-footer a:hover, #main-footer a:focus, #main-footer a:link:focus {
	text-decoration: underline;
	color: #0199C6;
}


/**
 * Presentations
 */
