/**
 * Fonts
 */
html > body {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	font-size: 1em;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 2em;
	line-height: 3em;
	font-weight: 700;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.75em;
	line-height: 2.2857em;
	font-weight: 400;
}


/**
 * Global settings
 */
html, body {
	height: 100%;
	min-height: 100%;
}

html > body {
    color:#206CA8;
    background-color:#ECF0F5;
}

div#global-container {
	padding-top: 4em;
	min-height: 100%;
	position: relative;
}

div#main {
	padding-bottom: 12em;
}


/**
 * Font colors
 */
a, h1, h2 {
	color: #404041;
}


/**
 * Buttons
 */
.btn {
	background-color: #ed6e44;
	color: #ffffff;
    border-radius: 5px;
}

.btn:hover {
	background-color: #f05a28;
	color: #ffffff;
}

.btn-event {
	background-color: red;
}

.btn-event:hover {
	background-color: green;
}

/**
 * Links
 */
a, a:link, a:visited, a:active {
	color: #ffffff;
}

a:link:hover, a:hover {
	color: #0199C6;
	text-decoration: none;
}