/**
 * Navbar
 */
nav.navbar.navbar-fixed-top {
	height: 4em;
	min-height: 4em;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
}

nav.navbar.navbar-fixed-top .container {
	padding: 0 1em;
}

nav.navbar img.navbar-logo {
	height: 3em;
	margin: 0.5em 0;
	filter: drop-shadow(1px 1px 1px rgb(170, 170, 170));
	-webkit-filter: drop-shadow(1px 1px 1px rgb(170, 170, 170));
	-moz-filter: drop-shadow(1px 1px 1px rgb(170, 170, 170));
}

nav.navbar img.navbar-logo:hover {
	filter: drop-shadow(3px 3px 2px rgb(170, 170, 170));
	-webkit-filter: drop-shadow(3px 3px 2px rgb(170, 170, 170));
	-moz-filter: drop-shadow(3px 3px 2px rgb(170, 170, 170));
}


/* Navigation UL */
.nav-ul a {
	display: inline-block;
	width: 25%;
	height: 4em;
	text-align: center;
	line-height: 4em;
	border-left: 1px solid #dddddd;
	background-color: transparent;
}

.nav-ul a:last-child {
	border-right: 1px solid #dddddd;
}


/* Dropdown */
.navbar-header .dropdown-toggle {
	margin: 0.5em 0;
	padding: 0;
	font-size: 2em;
	font-weight: 600;
	line-height: 1em;
	background-color: transparent;
	color: #0199C6;
	border: none;
    border-radius: 0;
    text-transform: uppercase;
}

.navbar-header .dropdown-toggle:hover {
	color: #015f7b;
}

.navbar-header .dropdown-toggle:active, .navbar-header .dropdown-toggle:focus {
	color: #404041;
}

.navbar-header .dropdown-menu {
	margin: 0;
	padding: 0;
	top: 4em;
	right: -15px;
	left: auto;
	background-color: rgba(64, 64, 65, 0.95);
	border: none;
	border-radius: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	font-size: 1em;
	line-height: 1.5em;
	text-align: right;
	width: 12em;
	text-transform: uppercase;
}

.navbar-header .dropdown-menu a {
	margin: 0;
	padding: 0.5em 1em 0.5em 0;
	/*border-bottom: 0.0625em solid #dddddd;*/
	font-weight: 600;
	font-size: inherit;
	line-height: inherit;
	color: #ffffff;
	background-color: transparent;
}

.navbar-header .dropdown-menu a:hover {
	color: #0199C6;
	background-color: transparent;
}

@media (max-width: 767px) {
	.navbar-header .dropdown-menu {
		width: 100vw;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-header .dropdown-menu {
		width: 50vw;
	}
}