/**
 * Navbar
 */
nav.navbar.navbar-fixed-top {
	height: 4em;
	min-height: 4em;
	margin: 0;
	padding: 0 2em;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

nav.navbar img.navbar-logo {
	height: 3em;
	margin: 0.5em 0;
	filter: drop-shadow(1px 1px 1px rgb(170, 170, 170));
}

nav.navbar img.navbar-logo:hover {
	filter: drop-shadow(3px 3px 2px rgb(170, 170, 170));
}

div.navbar-header.pull-right a {
	margin: 0 0 0 1.1428em;
}

nav.navbar button.navbar-btn {
	margin: 1.1428em 0;
	border: 0.0714em solid transparent;
	padding: 0.2142em 1em;
	font-size: 0.875em;
	line-height: 1.7142em;
}