/**
 * LiveVoting
 * URL: https://github.com/netgen/LiveVoting
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    padding-bottom: 100px;
    color:#206CA8;
    background-color:#ECF0F5;
    margin-top: 20px; 
    font-family: 'Roboto Slab', serif;
}

/*-------
NAVBAR 
--------*/

.navbar-logo {
    
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.navbar-fixed-top {
    background-color: white;
    border-bottom: 1px solid #ddd;

}
.navbar-btn {
    margin-right: 15px;
}

/*-------
END OF NAVBAR 
---------*/

.img-circle {
	margin-top: 10px;
}
.page-header {
    padding-top: 15px;
    padding-bottom: 0px;
}

.prestitle {
    font-size: 16px;
    text-transform: uppercase;
    color: #383E4B;
    padding-top: 5px;
    font-weight: bold;
}
.presname {
    padding-bottom: 5px;
}

.text-left , .text-center {
    text-align: left;
    color: #7c7c7c;
}

.time {
    
    font-size: 2em;
    margin-left: 10px;
    padding-top: 10px;
}

.vote, .room{
    font-size: 14px;

}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: #f05a28;
    border-radius: 3px 0 0 3px;

}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.btn { 
    margin-bottom:10px; 
    background-color: #ed6e44;
    color: white;
    border: none;   
}

.btn:hover {
	background-color: #f05a28;
	color: white;
}

.divider-vertical {

  height: 120px;
  border: 0;
  border-left: 1px solid #ddd;
  display: inline-block;
  vertical-align: bottom;
}

.twitter {
	padding-bottom: 10px;
}
@media only screen and (max-width: 768px) and (max-width: 991px) {
    .prestitle ,
    .presname ,
    .time ,
    .vote ,
    .container2 ,
    .imgpresenter
     {
        text-align: center;
    }
}

@media only screen and (max-width: 1199px)  {
    .prestitle ,
    .presname ,
    .time ,
    .vote ,
    .container2 , 
    .imgpresenter
     {
        text-align: center;
    }
}
@media only screen and (min-width: 1199px)  {
    .prestitle ,
    .presname ,
    .time ,
    .vote ,
    .container2 , 
    .imgpresenter
     {
        text-align: center;
    }
}


/**------------------------------------------------
------------------------------------------------**/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
}
.navbar-collapse{
    background: #ffffff;*/
  	width: 100%;
	border-bottom:1.5px solid #206CA8;
    margin-bottom: 20px;

}
.navbar-collapse img{
    margin-top: 10px;
    vertical-align: middle;
}

.headerimg{
    width: 100%;
    height: 50px;

}

.modal-body i{
    font-size: 120px;
    color: #5cb85c;
}
.modal-body i.glyphicon-remove-circle{
    color: #c12e2a;
}
.modal-footer{
    text-align: center;
}
/* Wrapper for page content to push down footer */
#content{
    height:100%
}
#wrap {
     /*padding: 0 0 60px;*/
    bottom:-100px;
    left:0;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.glyphicon-thumbs-down, .glyphicon-thumbs-up{
	font-size: 27px;
    top:10px;
    color: #777;
    opacity: 0.5;
}

/* Set the fixed height of the footer here */

.voting-list-single{
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left:0px !important;
    padding-right: 0px !important;
    border-bottom: 1px solid #dce6ec;
}

.voting-list-single:nth-child(odd){
    clear:left;
}

#loadingMessage{
    display:block;
    clear:both;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding-top: 4px;
    padding-right: 10px;
}

#shadow{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(160,160,160,0.8);
    width:100%;
    height:100%;
    z-index: 100000;

}

#loader{
    position:fixed;
    top:50%;
    left: 50%;
    margin-top: -44px;
    margin-left: -75px;
    z-index: 10000000;
}

.highLight{
    position:absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99;
}

.ermsg{
    display: block;
}

.slikaa{
    width: 80px;
    min-height: 70px;
}
#events{

    width: 600px;
    max-width:100%;
    margin: 0 auto;
    text-align: center;
}

#welcomeSign{
    margin-right: 10%;
    font-size: 5REM;
    text-align: center;
}


.imeprezentera{
    margin-top: 0px;
    margin-bottom:0px;
    text-transform: uppercase;
}

.naslovprezentacije{
    margin-top:0px;
    margin-bottom: 10px;
}


.list-group-item {
    background-color: #206CA8;
    color: #F5F5F5;
    text-align: center;
}

li.list-group-item > a {
    color:whitesmoke;
}

#footer-index {
    left:0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#footer-index a{
    color:#2C2F3C ;
    font-size: 1em;
}

#footer > a > img {
    vertical-align: text-top;
    margin-left: 15px;
    margin-right: 15px;
}

.media:first-child {
    margin-top: 15px;
}

.btn-default.active {
    background-color: #206CA8;
    color: whitesmoke;
}

div.btn-group-lg {
    margin-left: 5px;
    margin-right: 5px;
}

#winner{
    padding-top: 50px;
    width:40%;
    margin:auto;
    color:#333;
    text-align: center;
}

.winner{
    color: #333;
    z-index: 1;
}

.event-links{
    margin-top: 10px;
}

.circle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.alert span {
    display: block;
    position: absolute;
    top:50px; left: 50%;
}

.deg0 { transform: translate(12em); }
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

.prize-draw-table {
    color:#333;
}

#draw-end-line{
    position: relative; 
    top: 45%; 
    margin: 0px auto; 
    background-color: black;
    border: 7px solid #222222;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -moz-box-shadow: 5px 5px 10px #000000;
        -webkit-box-shadow: 5px 5px 10px #000000;
        -khtml-box-shadow: 5px 5px 10px #000000;
    box-shadow: 5px 5px 10px #000000;
}

#prize-pool{
    width: 700px;
    max-width:100%;
    margin: auto;
}

#lista-pobjednika{
    margin-top: 20px;
}
.odometer.odometer-auto-theme{
    font-size: 150px;
    line-height: 150px;
    font-weight: 600;
    display: inherit;
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-control{
    margin-bottom: 20px;
    height: 45px;
}

div.container{
    color: #000;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    box-sizing: border-box;
}

.panel-body{ padding: 25px; }

.media_question .row form{
    text-align: center;
    margin: 10px auto;
}
.media_question{
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
}
.voting-list-single .col-xs-12{ float: left; }
.voting-list-single_question .col-xs-12 {float: none;}

.media_question .col-xs-4{ float: left;}

.media_question .pitanje{
    margin-top: 25px;
    margin-bottom: 0px;
}
.media_question .question_img{
    width: 80px;
    min-height: 70px;
    border: none;
    margin: 2px;
}
/*
@media all and (max-width: 768px){
    .media_question{ width: 100%;}    
}*/

#footer-index > div.container {
    height: 70px;
    background-color: #add2f5;
    position:relative;
    z-index:99999;
    /*font-family: "Helvetica", "Arial", sans-serif; */
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    color: #2c2f3c !important;
}