/* Moj css */
/* Sticky footer styles
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
}
.navbar-default{
    background: #ffffff;
  	width: 100%;
    height: 100px;
	border-bottom:1px solid #FFCC00;

}
.navbar-default img{
    margin: 15px 5px 5px 5px;
    width: 150px;
}

.headerimg{
    width: 100%;
    height: 50px;

}

.modal-body i{
    font-size: 120px;
    color: #5cb85c;
}
.modal-body i.glyphicon-remove-circle{
    color: #c12e2a;
}
.modal-footer{
    text-align: center;
}
/* Wrapper for page content to push down footer */
#content{
    height:100%
}
#wrap {
     /*padding: 0 0 60px;*/
    bottom:-100px;
    left:0;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.glyphicon-thumbs-down, .glyphicon-thumbs-up{
	font-size: 42px;
}

@media (max-width: 768px){
	.pagination > li > a, {
	font-size: 14px;
	}
	.pagination > li i a{
	font-size: 16px;
	}
}


/* Set the fixed height of the footer here */

.voting-list-single{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left:0px !important;
    border-bottom: 1px solid #dce6ec;
}

#loadingMessage{
    display:block;
    clear:both;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding-top: 4px;
    padding-right: 10px;
}

#shadow{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(160,160,160,0.8);
    width:100%;
    height:100%;
    z-index: 100000;

}

#footer {
    height: 70px;
    background-color: #add2f5;
    position:relative;
    z-index:99999;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    color: #2c2f3c !important;
}

#loader{
    position:fixed;
    top:50%;
    left: 50%;
    margin-top: -44px;
    margin-left: -75px;
    z-index: 10000000;
}

.highLight{
    position:absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99;
}

.ermsg{
    display: block;
}


#events{
    width:290px;
    margin: 0 auto;
    text-align: center;
}




.flash{
    position:absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0.3);
    z-index: 99;
}


.imeprezentera{
    margin-top: 0px;
    margin-bottom:0px
}

.naslovprezentacije{
    margin-top:0px;
    margin-bottom: 10px;
}
