/* Moj css */
/* Sticky footer styles
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    font-family: "Helvetica Neue";
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    background-color: #f5f5f5;
}
.navbar-default{
    background: #ffffff;
  	width: 100%;
    height: 100px;
	border-bottom:1px solid #FFCC00;

}
.navbar-default img{
    margin: 15px 5px 5px 5px;
    width: 150px;
}

.headerimg{
    width: 100%;
    height: 50px;

}


.modal-body i{
    font-size: 120px;
    color: #5cb85c;
}
.modal-body i.glyphicon-remove-circle{
    color: #c12e2a;
}
.modal-footer{
    text-align: center;
}
/* Wrapper for page content to push down footer */
#content{
    height:100%
}
#wrap {
     /*padding: 0 0 60px;*/
    bottom:0;
    left:0;
    position: fixed;
    width: 100%;
}

.glyphicon-thumbs-down, .glyphicon-thumbs-up{
	font-size: 20px;
}

@media (max-width: 768px){
	.pagination > li > a, {
	font-size: 14px;
	}
	.pagination > li i a{
	font-size: 16px;
	}
}


/* Set the fixed height of the footer here */
#footer {
    height: 80px;
    background-color: #f5f5f5;
    position:relative;
    z-index:999;
}
.voting-list-single{
    margin-bottom: 10px;
}

#loadingMessage{
    display:block;
    clear:both;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding-top: 4px;
    padding-right: 10px;
}

.shadow{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(160,160,160,0.8);
    width:100%;
    height:100%;
    z-index: 100000;
}

#loader{
    position:absolute;
    top:50%;
    left: 36%;
    z-index: 10000000;
}

.highLight{
    position:absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99;
}

