/* Moj css */

<<<<<<< HEAD
body {
    background-color : #03a9f4;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    font-size: 18px;
    color: #76ff03;
}
=======
body
  {
    margin: 0px;
    padding: 0px;
    background: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    color: rgba(0,0,0,.6);
  }
>>>>>>> 652afa8a3bed62885e825d866aefc8dd73d05137

#container
 .welcome
  {


  }


.presentation{}
