/* Moj css */
/* Sticky footer styles
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    background-color: #f5f5f5;
}


.modal-body i{
    font-size: 120px;
    color: #5cb85c;
}
.modal-body i.glyphicon-remove-circle{
    color: #c12e2a;
}
.modal-footer{
    text-align: center;
}