/**
 * Transitions
 */
.btn {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.btn:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

a {
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
}

a:hover {
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
}

img.navbar-logo {
	transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
}

img.navbar-logo:hover {
	transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
}