/**
 * Transitions
 */
.btn, .btn:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.btn-event, .btn-event:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.form-container form button, .form-container form button:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.vote-form input, .vote-form input:hover,
.vote-form button, .vote-form button:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

a, a:hover {
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
}

img.navbar-logo, img.navbar-logo:hover {
	transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
}

.question-multiple input.q1,
.question-multiple input.q2,
.question-multiple input.q3,
.question-multiple input.q4,
.question-multiple input.q5,
.question-single button.yes,
.question-single button.no,
.question-multiple input.q1:hover,
.question-multiple input.q2:hover,
.question-multiple input.q3:hover,
.question-multiple input.q4:hover,
.question-multiple input.q5:hover,
.question-single button.yes:hover,
.question-single button.no:hover {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}