/**
 * Transitions
 */
.cta .cta-action, .cta .cta-action:hover, .cta .cta-action:focus, .cta .cta-action:active, 
.navbar-header .dropdown-toggle, .navbar-header .dropdown-toggle:hover,
.navbar-header .dropdown .dropdown-menu, .navbar-header .dropdown:hover .dropdown-menu,
#main-footer a > span, #main-footer a > span:link, #main-footer a > span:visited, #main-footer a > span:active,
#main-footer a > span:link:hover, #main-footer a > span:hover, #main-footer a > span:focus, #main-footer a > span:link:focus {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.btn, .btn:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.btn-event, .btn-event:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.form-container form button, .form-container form button:hover,
form button, form button:hover, form button:focus,
div.cta a.cta, div.cta a.cta:hover, div.cta a.cta:focus, div.cta a.cta:active {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.vote-form input, .vote-form input:hover,
.vote-form button, .vote-form button:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

a, a:hover {
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
}

img.navbar-logo, img.navbar-logo:hover {
	transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
}

.box .actions a > span, .box .actions a > i, .box .actions a:hover > span, .box .actions a:hover > i,
.form-control, .form-control:focus {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.question-multiple input.q1,
.question-multiple input.q2,
.question-multiple input.q3,
.question-multiple input.q4,
.question-multiple input.q5,
.question-single button.yes,
.question-single button.no,
.pres .pres-opinion a,
.question-multiple input.q1:hover,
.question-multiple input.q2:hover,
.question-multiple input.q3:hover,
.question-multiple input.q4:hover,
.question-multiple input.q5:hover,
.question-single button.yes:hover,
.question-single button.no:hover,
.pres .pres-opinion a:hover {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}