/**
 * Transitions
 */
.btn, .btn:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.btn-event, .btn-event:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.form-container form button, .form-container form button:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.vote-form input, .vote-form input:hover,
.vote-form button, .vote-form button:hover {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

a, a:hover {
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
}

img.navbar-logo, img.navbar-logo:hover {
	transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
}