{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Dashboard|Admin|LiveVoting{% endblock %}

{% block mainHeading %}<h1>Welcome</h1>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>Welcome to Netgen LiveVoting admin panel. This interface gives You total control of events and users in LiveVoting application.</p>
            <p>To proceed choose one of the links in main navigation. If you are done with Your job here click on the 'Logout' button in upper right corner of the page. You can get back to this page whenever You want by clicking on the Netgen logo in upper left corner of the page.</p>
            <p class="text-right"><em>Netgen LiveVoting Team</em></p>
        </div>
    </div>
{% endblock %}
