{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Dashboard|Admin|LiveVoting{% endblock %}

{% block mainHeading %}Welcome{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 margin-top">
            <p>We trust you have received the usual lecture from the local Organizator. It usually boils down to these three things:</p>
            <ol class="margin-top">
			    <li>Respect the privacy of others.</li>
			    <li>Think before you type.</li>
			    <li>With great power comes great responsibility.</li>
			</ol>
        </div>
    </div>
{% endblock %}
