{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Admin panel</h1>
        </div>
    </div>
    <div id="admin-navigation" class="row">
        <div class="col-xs-12">
            <a href="event">Events</a> - <a href="user">Users</a> - <a href="registration">Registrations</a>
        </div>
    </div>    
{% endblock %}
