{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <a href="event" class=" btn btn-primary btn-lg btn-block">Events</a>
      </div>
      <div class="col-md-4">
        <a href="user" class=" btn btn-primary btn-lg btn-block">Users</a>
      </div>
      <div class="col-md-4">
        <a href="registration" class=" btn btn-primary btn-lg btn-block">Registrations</a>
      </div>
    </div>

  </div>
{% endblock %}
