<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.css">
<link rel="stylesheet" href="css/style.css">


<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
</head>
<body>

<div class="container">
<div id="wellcome">
<img src="logo.png" alt="logo" class="img-rounded">
<hr size=50 color="red">
      <div id="load1">
        <p> Be patient It`s loading </p> </div>
        <div id="load2">
         <p> ... </p> </div>

         <img src="baltazar.jpg" alt="..." class="img-circle">
      </div>
</div>





<div id="animation"></div>
<div id="vote">

  </a>
</div></div>
<div id="thanks"></div>

<p></p>




</body>
</html>



