<div class="col-xs-12">
    <a href="{{ path('admin_event_new') }}"><button type="button" class="btn"><i class="fa fa-plus"></i> Add event</button></a>
    <a href="{{ path('admin_prize_draw') }}"><button type="button" class="btn"><i class="fa fa-diamond"></i> Prize draw</button></a>
</div>