<h3>CSSF & SSD 2016 workshops voting</h3><br/><br/>

<p>
    For the first time on CSSF & SSD we bring you a tool for live rating of the workshops you attended! The only thing
    you need is this email - no app to download, just connect to any wifi available and by clicking to link below you
    will be transferred to our live voting/rating site! Help us bring even more quality to workshops!
</p>

<p>
    Click this <a href="{{ url('email_login') }}{{ emailHash }}/0">link</a> to RATE WORKSHOPS
</p>

<p>
<b>RAFFLE PRIZES!!</b>
Each day of the festival we will have a raffle and draw a winner from all people who voted. The winner will get a surprise gift for us! The more you vote the more chance you have to win raffle prizes :)
</p>

<p>
    Give us feedback with your votes and comments and help us make workshops even better in future. Thank you for that!
</p>
<p>
    Your, SEASUNSALSA Team!
    
    rate.seasunsalsa.com
    www.crosalsafestival.com
    www.summersensual.com
</p>