<h3>Summer Camp workshop voting</h3><br/><br/>

To login, click following <a href="{{ url('email_login') }}{{ emailHash }}/0">link</a>.<br/><br/>

After login you can see the live schedule and vote for sessions. More votes give you more chance to win raffle prizes :)<br/><br/>
