Dear Web Summer Camp participant,
<br/><br/>

Please, log in on the following <a href="{{ url('email_login') }}{{ emailHash }}/0">link</a> to access Web Summer Camp workshop voting system.<br/><br/>

After the login, you can see the schedule for the current day, vote for and comment the workshops. The more you vote, the more you increase your chances of winning the raffle on Friday.
<br/><br/>
Sincerely,<br/>
Your Web Summer Camp team
