<h3>Summer Camp workshop voting</h3><br/><br/>

Please, take your time after each workshop and rate them.
Login via this <a href="{{ url('email_login') }}{{ emailHash }}">link</a>.<br/><br/>

After login you can see the live schedule and vote for sessions. More votes give you more chance to win raffle prizes :)<br/><br/>
 
<a href="{{ url('root') }}">Summer Camp voting site</a>
