{% if emailText != '' %}
    {{ emailText }}
{% else %}
    <h3>Web Summer Camp workshop voting</h3><br/><br/>

    Please, login via following <a href="{{ url('email_login') }}{{ emailHash }}/0">link</a> to access Web Summer Camp workshop voting system.<br/><br/>

    After login you can see the sessions for the current day and vote for workshops. More votes give you more chance to win raffle prize!
    <br/><br/>

    <a href="{{ url('root') }}">Web Summer Camp voting site</a>
{% endif %}

