Dear participant,<br/><br/>

Thank you for being a part of PHP & eZ Publish Summer Camp 2015!<br/><br/>

We want to make the next one even <b>better</b>, and to do that we need <b>YOUR help</b>. On this <a href="{{ url('email_login') }}{{ emailHash }}">link</a> you will find <b>19 short questions</b> that you can answer to in a few minutes.<br/><br/>

Please make time to answer the questions - it helps us <b>immensely</b> to make your experience next year <b>the best one yet</b>!<br/><br/>

Also, if you have any other <b>questions or suggestions</b> for the next Summer Camp, send them to <a href="mailto:maja@netgen.hr">maja@netgen.hr</a> - we value your opinion :)<br/><br/><br/>


Thank you for your help!