admin_presentation:
    path:     /event_id/{event_id}
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:index" }

admin_presentation_show:
    path:     /{id}/show
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:show" }

admin_presentation_new:
    path:     /{event_id}/new
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:new" }

admin_presentation_create:
    path:     /{event_id}/create
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:create" }
    methods: [POST, GET]

admin_presentation_edit:
    path:     /{id}/edit
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:edit" }

admin_presentation_update:
    path:     /{id}/update
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:update" }
    requirements: { _method: post|put }

admin_presentation_vote_enable:
    path:     /{id}/voting_status
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:enableDisable" }
    requirements: { _method: put }

admin_presentation_delete:
    path:     /{id}/delete
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:delete" }