admin_question:
    path:     /event_id/{event_id}
    defaults: { _controller: "LiveVotingBundle:QuestionAdmin:index" }

admin_question_show:
    path:     /{id}/show
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:show" }

admin_question_new:
    path:     /{event_id}/new
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:new" }

admin_question_create:
    path:     /{event_id}/create
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:create" }
    requirements: { _method: post }

admin_question_edit:
    path:     /{id}/edit
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:edit" }

admin_question_update:
    path:     /{id}/update
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:update" }
    requirements: { _method: post|put }

admin_question_vote_enable:
    path:     /{id}/voting_status
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:enableDisable" }
    requirements: { _method: put }

admin_question_delete:
    path:     /{id}/delete
    defaults: { _controller: "LiveVotingBundle:PresentationAdmin:delete" }