{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Edit|Event|LiveVoting{% endblock %}

{% block mainHeading %}Edit event{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 margin-top">
            {{ form(edit_form, {'attr':{'class':'form-horizontal'}}) }}
        </div>

        <div class="col-xs-12 col-sm-4 margin-top">
            Currently associated users: {{ user_count }}


        </div>
    </div>

    <div class="row secondary-footer">
      <div class="col-xs-12">
        <a href="{{path('admin_event')}}"><button type="button" class="btn">Back</button></a>
      </div>
    </div>

    <script src='http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js'></script>
    <script>
    	$(":file").filestyle({badge: false, buttonBefore: true, buttonText: "Upload image for event", buttonName: "btn-primary"});
    </script>
{% endblock %}
