{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create new event</h3>
      </div>
      <div class="panel-body">
      
        {{ form(form) }}

      </div><br>
        <a class="btn btn-large btn-primary btn-block" href="{{ path('admin_event') }}">
            Back to the list
        </a>
    </div>

    <script src='http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js'></script>
    <script>
    	$(":file").filestyle({badge: false, buttonBefore: true, buttonText: "Upload image for event", buttonName: "btn-primary"});
    </script>
{% endblock %}